@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neurimboGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*전체 기본설정*/
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*a태그 하이퍼링크*/
a{
text-decoration: none; /*하이퍼링크 밑줄 제거*/
color: inherit; /*하이퍼 링크 색상 제거 */
}

/* 우측 상단 메뉴 */
.top_menu {
display: flex;
align-items: center;
list-style: none;
padding: 10px;
margin: 0;
color: rgb(0, 0, 0);
background-color: rgb(0, 255, 13);
justify-content: space-between; /* 로고와 아이콘 사이에 공간 분배 */
}

/* 로고 */
.top_menu .logo {
font-family: 'neurimboGothicRegular';
margin: 0 auto; /* 좌우 여백을 자동으로 조정하여 중앙 정렬 */
}

/* 아이콘들 컨테이너 */
.top_menu .top_icons {
display: flex;
align-items: center;
}

/* 아이콘 */
.top_menu .top_icon {
margin: 0 5px; /* 아이콘 사이의 여백 조정 */
}

/* 아이콘 중앙 수직 정렬 */
.top_menu .top_icon svg {
vertical-align: middle;
}

/*우측상단 검색, 마이페이지, 찜, 장바구니, 로그인_글자 속성*/
.sign li{
margin: 0 5px; /*메뉴끼리의 사이 여백*/

/* text-align: center; /*텍스트 중앙 정렬
font-size: 0.6rem;
color: rgb(31, 218, 255); */
}

/*헤드폰, 이어폰, 사운드바, 스피커, 고객지원_박스 속성*/
.categories{
margin: 0;
padding: 10px;
padding-bottom: 20px;
list-style: none;
display: flex;
justify-content: center; /*가로로 중앙 정렬*/
background-color: rgb(0, 255, 13);
}

/*헤드폰, 이어폰, 사운드바, 스피커, 고객지원_각 글자 속성*/
.categories li{
font-family: 'GmarketSansMedium';
text-align: center; /*텍스트 중앙 정렬*/
margin: 0 10px; /*각 글자 사이 여백*/
padding: 5px 20px; /*각 글자 박스 크기*/
color: #000000;
}

#headphones_category{
color: rgb(165, 115, 231);
}

/*카테고리 밑 백그라운드 이미지*/
.backimg{
width: 100%;
height: 400px; /*카테고리와 카테고리분류명 사이의 높이*/
background-color: rgb(0, 0, 0);
background-image: url(../img/새폴더/headphoes2-2.jpg);
background-repeat: no-repeat; /*이미지 반복 금지*/
background-size: cover; /*이미지 전체 커버*/
/*background-attachment: fixed; 이미지 스크롤 고정(싫으면 빼기)*/
}



/*선택된 카테고리_헤드폰*/
.selected_category{
margin: 0;
padding: 20px;
background-color: #ffffff;
}

#selected_headphones{
 font-family: 'neurimboGothicRegular';
text-align: center;
font-size: 2rem;
color: rgb(165, 115, 231);
}

/*상품 사진을 담고있는 박스 전체*/
.container {
background-color: rgb(255, 255, 255)
/* padding: 5%; 이거 있으면위에 메뉴랑 서브메뉴 공간이 너무 커짐*/
/* flex-wrap: wrap;
gap: 1em;
flex-basis: 150px;
flex-grow: 0; */
}

/*소분류_전체, 유선, 무선_전체 속성*/
.subcategories_headphones{
list-style: none;
display: flex;
justify-content: center;
padding: 0px; /*전체 박스 패딩*/
margin-bottom: 50px;
}

/*소분류_전체, 유선, 무선_글자 속성*/
.subcategories_headphones li{
font-family: 'GmarketSansMedium';
border: 0.5px solid #000000;
padding: 5px 10%; /*글자 박스 별 패딩*/
font-size: 0.7rem;
color: #000000;
background-color: rgba(0, 255, 13);
}

/*선택된 소분류*/
#all_products{
background-color: rgb(165, 115, 231);
}

/*상품 목록 첫 번째줄_전체 속성*/
.products_line1 {
display: flex; /*카테고리 사진 가로정렬*/
justify-content: space-evenly; /*상품 간 간격 동일하게*/
padding-top: 5%;
margin-left: 5%;
margin-right: 5%;
}

/*상품 목록 첫 번째줄_*/
.product_line1 {
overflow: hidden;  /*고정 ? */
text-align: center;  /*텍스트 중간정렬*/
}

/*첫 번째 줄 상품 사진 설정*/
.product_line1 img {
max-width: 100%;
height: auto;
border: 1px solid #000000;
border-radius: 5px;
box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

/*첫 번째 줄 상품 이름, 가격 속성*/
.product_line1 h3, p {
font-family: 'GmarketSansMedium';
margin: 1px 0;
font-size: 0.7rem;
color: #000000;
}

/*------------------------------------------------*/

/*상품사진 두 번째줄_전체 속성*/
.products_line2 {
display: flex;
justify-content: space-evenly;
margin-bottom: 5%;
padding-top: 5%;
margin-left: 5%;
margin-right: 5%;
}

/*상품 목록 두 번째줄*/
.product_line2 {
overflow: hidden;  /*고정 ? */
text-align: center;  /*텍스트 중간정렬*/
}

/*두 번째 줄 상품 사진 설정*/
.product_line2 img {
max-width: 100%;
height: auto;
border: 1px solid #000000;
border-radius: 5px;
box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

/*두 번째 줄 상품 이름, 가격 속성*/
.product_line2 h3, p {
font-family: 'GmarketSansMedium';
margin: 1px 0;
font-size: 0.7rem;
color: #000000;
}

/*상품사진 두 번째줄_전체 속성*/
.products_line2 {
display: flex;
justify-content: space-evenly;
padding-top: 5%;
margin-left: 5%;
margin-right: 5%;
}

/*상품 목록 두 번째줄*/
.product_line2 {
overflow: hidden;  /*고정 ? */
text-align: center;  /*텍스트 중간정렬*/
}

/*두 번째 줄 상품 사진 설정*/
.product_line2 img {
max-width: 100%;
height: auto;
border: 1px solid #000000;
border-radius: 5px;
box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

/*두 번째 줄 상품 이름, 가격 속성*/
.product_line2 h3, p {
font-family: 'GmarketSansMedium';
margin: 1px 0;
font-size: 0.7rem;
color: #000000;
}

/*----------------------------------*/

/*상품사진 세 번째줄_전체 속성*/
.products_line3 {
display: flex;
justify-content: space-evenly;
margin-bottom: 5%;
margin-left: 5%;
margin-right: 5%;
}

/*상품 목록 세 번째줄*/
.product_line3 {
overflow: hidden;  /*고정 ? */
text-align: center;  /*텍스트 중간정렬*/
}

/*세 번째 줄 상품 사진 설정*/
.product_line3 img {
max-width: 100%;
height: auto;
border: 1px solid #000000;
border-radius: 5px;
box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

/*세 번째 줄 상품 이름, 가격 속성*/
.product_line3 h3, p {
font-family: 'GmarketSansMedium';
margin: 1px 0;
font-size: 0.7rem;
color: #000000;
}

/*가장 하단 푸터*/
footer{
font-family: 'GmarketSansMedium';
font-size: 0.5rem;
color: white;
background-color: rgb(0, 255, 13);
}