* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 5rem;
}

/*👆top으로*/
.totop {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/*스크롤시 부드럽게*/
html {
  scroll-behavior: smooth;
}