.searchbox {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

.search {
  margin-right: 20px;
  cursor: pointer;
  /* 클릭 가능 표시 */
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 700px;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#searchTable {
  display: none;
}
