body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider {
    width: 100vw; /* 화면 너비에 맞게 설정 */
    height: 100vh; /* 화면 높이에 맞게 설정 */
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: calc(1920px * 3); /* 모든 슬라이드를 포함한 너비 */
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.slides img {
    width: 1920px; /* 슬라이드 너비 고정 */
    height: 100%; /* 슬라이드 컨테이너 높이에 맞게 설정 */
    object-fit: cover; /* 비율 유지하면서 컨테이너를 완전히 채우도록 설정 */
}
