* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  /* 헤더 스타일 */
  header {
    background-color: #c18de4;
    /*로고와 아이콘 함께 가로 정렬*/
    display: flex;
    /* 공간을 양 끝으로 분산 ?? */
    justify-content: space-between;
    /* 수직 중앙 정렬 ??*/
    align-items: center;
    padding: 10px;
  }

  #cate{
    text-align: center;
    padding-top: 50px;
    display: flex;
  }
  
  h1 {
    /*페이지를 줄여도 늘려도 중앙을 유지*/
    flex: 1;
    text-align: center;
    margin: 0;
  }
  
  .top_icons {
    display: flex;
    /*아이콘 간격*/
    gap: 5px;
  }
  
  .top_icon {
    display: flex;
    align-items: center;
  }

  

img {
    width: 400px;
    float: left;
    /*이미지를 왼쪽으로*/
    margin: 40px;
}

#ss{
    display: block;
}


.click{
    display: flex;
    text-align: center;
    gap: 20px;
}

#buy{

    width: 100px;
    border: 1px solid #000000;
    background-color: #c18de4;
}

#basket{
    width: 100px;
    border: 1px solid #000000;
    background-color: #c18de4;
}

#love{
    width: 100px;
    border: 1px solid #000000;
    background-color: #c18de4;
}

.detail{
  width: 50px;
}