.slider {
  position: relative;
  overflow: hidden;
  width: 1920px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  animation: slider 7.5s infinite linear;
}

.slide:nth-child(1) {
  background-image: url(img1.jpg);
  animation-delay: 0;
}

.slide:nth-child(2) {
  background-image: url(img2.jpg);
  animation-delay: -2.5s;
}

.slide:nth-child(3) {
  background-image: url(img3.jpg);
  animation-delay: -5s;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }

  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}