* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

.slideshow-container img {
  vertical-align: middle;
  width: 100%
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 1920px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation: slider 7.5s infinite linear;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slider;
  animation-duration: 1.5s;
}

/* On smaller screens, decrease dot size */
@media only screen and (max-width: 300px) {
  .dot {
    visibility: hidden
  }
}