/*전체속성*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/* 헤더 스타일 */
header {
  background-color: #c18de4;
  /*로고와 아이콘 함께 가로 정렬*/
  display: flex;
  /* 공간을 양 끝으로 분산 ?? */
  justify-content: space-between;
  /* 수직 중앙 정렬 ??*/
  align-items: center;
  padding: 10px;
}

h1 {
  /*페이지를 줄여도 늘려도 중앙을 유지*/
  flex: 1;
  text-align: center;
  margin: 0;
}

.top_icons {
  display: flex;
  /*아이콘 간격*/
  gap: 5px;
}

.top_icon {
  display: flex;
  align-items: center;
}









/*🍔햄버거 메뉴바 전체 설정*/
#menu_hamburger {
  /*줄바꿈*/
  display: block;
  /*부모 속성*/
  position: relative;
  /*위치_바꿔야함*/
  top: 50px;
  left: 40px;
  /*우선순위 설정, 숫자가 클수록 위에 배치됨*/
  z-index: 1;
}

/*햄버거 메뉴바 인풋박스*/
#menu_hamburger input {
  /*체크박스 크기*/
  width: 50px;
  height: 50px;
  /*relative기준으로 배치*/
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /*우선순위 1보다 위*/
  z-index: 2;
  /*클릭 되는 영역 조절*/
  top: -15px;
  left: -20px;
}

/*햄버거 아이콘*/
#menu_hamburger span {
  display: block;
  /*햄버거 아이콘 생긴모습*/
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  /*부모 속성*/
  position: relative;

  background: #5884ad;
  /* border-radius: 0px; */

  z-index: 1;

  /*메뉴 열었을 때 X모양 정렬*/
  transform-origin: 4px 0px;

  /*아이콘 변경 부드럽게 전환*/
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/*X모양에 대한 설정*/
#menu_hamburger span:first-child {
  transform-origin: 0% 0%;
}

#menu_hamburger span:nth-child(4) {
  transform-origin: 0% 100%;
}

#menu_hamburger input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*X모양으로 변환시 중앙선*/
#menu_hamburger input:checked~span:nth-child(3) {
  /*사라짐*/
  opacity: 0;
  /*각도 및 사이즈 조절*/
  transform: rotate(0deg) scale(0.2, 0.2);

}

#menu_hamburger input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*메뉴 박스 속성*/
#menu {
  /*자식 요소*/
  position: absolute;
  /*넓이*/
  width: 190px;
  /*메뉴박스 높이*/
  height: 100vh;
  /*전체박스크기*/
  margin: -100px 0 0 -50px;
  padding: 50px;
  /*상단높이조절*/
  padding-top: 120px;

  background: #a8a8a8;
  list-style-type: none;

  /*메뉴박스 팝업 위치, 마이너스여야 왼쪽에서 오른쪽으로 나옴*/
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  /*메뉴박스 나오는 속도*/
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/*메뉴 글씨 기본 설정*/
#menu a {
  text-decoration: none;
  color: #000000;

  /*색상 변경 반응 속도*/
  transition: color 0.2s ease;
}

/*메뉴 선택시 색상변경*/
#menu a:hover {
  color: rgb(116, 175, 243);
}

/*메뉴간 간격*/
#menu li {
  position: relative;
  padding: 7px 0;
  font-size: 19px;
}

#menu_hamburger input:checked~ul {
  transform: none;
}

#selected{
  text-align: center;
}

/*상세검색*/

.search {
  flex: 1;
  text-align: center;
}

table {
  margin-left: 30%;
  border: 1px solid black;
  border-collapse: collapse;
}

  td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  #table input {
    /*햄버거랑 똑같이 썼는데 왜안됨?*/
    cursor: pointer;
  }

#search {
  display: inline-block;
}

/*1️⃣상품 목록 1번째줄-----------------------------------------------*/

/*🎧헤드셋 상품 목록 1번째줄 전체 속성*/
.products_line1 {
  /*카테고리 사진 가로정렬*/
  display: flex;
  /*상품 간 간격 동일하게*/
  justify-content: space-evenly;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/*상품 목록 1번째줄*/
.product_line1 {
  /*고정 ? */
  overflow: hidden;
  text-align: center;
}

/*1번째 줄 상품 사진 설정*/
.product_line1 img {
  max-width: 100%;
  height: auto;
  border: 1px solid #000000;
  box-shadow: 10px 5px 0px 0px rgb(0, 0, 0);
}

/*1번째 줄 상품 이름, 가격 속성*/
.product_line1 h3,
p {
  font-family: 'GmarketSansMedium';
  margin: 1px 0;
  font-size: 0.7rem;
  color: #000000;
}

/*2️⃣상품 목록 2번째줄-----------------------------------------------*/

/*🎧헤드셋 상품 목록 2번째줄 전체 속성*/
.products_line2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/*상품 목록 2번째줄*/
.product_line2 {
  overflow: hidden;
  text-align: center;
}

/*2번째 줄 상품 사진 설정*/
.product_line2 img {
  max-width: 100%;
  height: auto;
  border: 1px solid #000000;
  box-shadow: 10px 5px 0px 0px rgb(0, 0, 0);
}

/*2번째 줄 상품 이름, 가격 속성*/
.product_line2 h3,
p {
  font-family: 'GmarketSansMedium';
  margin: 1px 0;
  font-size: 0.7rem;
  color: #000000;
}

/*3️⃣상품 목록 3번째줄-----------------------------------------------*/

/*🎧헤드셋 상품 목록 3번째줄 전체 속성*/
.products_line3 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/*상품 목록 3번째줄*/
.product_line3 {
  overflow: hidden;
  text-align: center;
}

/*3번째 줄 상품 사진 설정*/
.product_line3 img {
  max-width: 100%;
  height: auto;
  border: 1px solid #000000;
  box-shadow: 10px 5px 0px 0px rgb(0, 0, 0);
}

/*3 번째 줄 상품 이름, 가격 속성*/
.product_line3 h3,
p {
  font-family: 'GmarketSansMedium';
  margin: 1px 0;
  font-size: 0.7rem;
  color: #000000;
}



/*👆top으로*/
.totop {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/*스크롤시 부드럽게*/
html {
  scroll-behavior: smooth;
}